.about-me-internal .container, .experience-internal .container, .contact-internal .container {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 15px;
  margin-bottom: 30px; }
  .about-me-internal .container h1, .experience-internal .container h1, .contact-internal .container h1 {
    display: inline-block;
    font-family: 'Fredoka One';
    font-size: 40px;
    font-weight: 300; }
  .about-me-internal .container p, .experience-internal .container p, .contact-internal .container p {
    font-family: Hind;
    font-size: 18px; }
  .about-me-internal .container iframe, .experience-internal .container iframe, .contact-internal .container iframe {
    display: flex;
    margin: 30 auto;
    border: 8px solid #1A2930;
    border-radius: 10px;
    padding: 0px; }

.experience-internal ul {
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%; }
  .experience-internal ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: #1A2930;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-align: center; }
    .experience-internal ul li span {
      margin: 10px auto; }
    .experience-internal ul li .experience-skill-container {
      display: none; }
  .experience-internal ul:not(.other-skills-list) li:nth-child(8n+2) {
    background-color: #42647F; }
  .experience-internal ul:not(.other-skills-list) li:nth-child(8n+4) {
    background-color: #42647F; }
  .experience-internal ul:not(.other-skills-list) li:nth-child(8n+5) {
    background-color: #42647F; }
  .experience-internal ul:not(.other-skills-list) li:nth-child(8n+7) {
    background-color: #42647F; }
  .experience-internal ul.other-skills-list li:nth-child(2n-1) {
    background-color: #42647F; }

.contact-internal .email-container {
  display: flex;
  flex-direction: row;
  margin: 65px auto;
  width: 253px; }
  .contact-internal .email-container span {
    padding: 15px 25px;
    background-color: #42647F;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .contact-internal .email-container button {
    background-color: lightgrey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

.contact-internal a {
  display: flex;
  margin: 50px auto;
  width: 45px; }
  .contact-internal a i {
    color: #0077B5;
    font-size: 50px; }
